<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcf.nszh.provider.mz.mapper.DatasourceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hcf.nszh.provider.mz.entity.Datasource">
        <result column="SID" property="sid" />
        <result column="DRIVER" property="driver" />
        <result column="URL" property="url" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SID, DRIVER, URL, USERNAME, PASSWORD, DEL_FLAG
    </sql>

</mapper>
