<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcf.nszh.provider.mz.mapper.SqlDicMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hcf.nszh.provider.mz.entity.SqlDic">
        <id column="SID" property="sid" />
        <result column="SKEY" property="skey" />
        <result column="INITIAL_SQL" property="initialSql" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="DATASOURCE_ID" property="datasourceId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SID, SKEY, INITIAL_SQL, DEL_FLAG, DATASOURCE_ID
    </sql>

</mapper>
