<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcf.nszh.provider.mz.mapper.NsfwMapper">
    <update id="truncateTableData">
        <choose>
            <when test="type==1">
                TRUNCATE TABLE FWQK
            </when>
            <when test="type==2">
                TRUNCATE TABLE RD
            </when>
            <when test="type==3">
                TRUNCATE TABLE ZS
            </when>
            <when test="type==4">
                TRUNCATE TABLE ZSZL
            </when>
            <when test="type==5">
                TRUNCATE TABLE RDWT
            </when>
            <otherwise>

            </otherwise>
        </choose>

    </update>

    <update id="createTable">
        <choose>
            <when test="type==1">
                CREATE TABLE "FWQK" (
                "ny" VARCHAR2(30 BYTE) ,
                "fwrcyy" NUMBER ,
                "fwrcwl" NUMBER ,
                "fwrcwx" NUMBER ,
                "dhlyy" NUMBER ,
                "dhlwl" NUMBER ,
                "dhlwx" NUMBER
                )
            </when>
            <when test="type==2">
                CREATE TABLE "RD" (
                "xh" NUMBER ,
                "rdwt" VARCHAR2(255 BYTE) ,
                "rdwtsl" NUMBER ,
                "zxrc" VARCHAR2(255 BYTE) ,
                "zxrcsl" NUMBER
                )
            </when>
            <when test="type==3">
                CREATE TABLE "ZS" (
                "zslx" VARCHAR2(255 BYTE) ,
                "zslb" VARCHAR2(255 BYTE) ,
                "bzwtsl" NUMBER ,
                "kzwtsl" NUMBER
                )
            </when>
            <when test="type==4">
                CREATE TABLE "ZSZL" (
                "bzwthj" NUMBER ,
                "kzwthj" NUMBER ,
                "tyc" NUMBER ,
                "zyc" NUMBER ,
                "kyc" NUMBER ,
                "mgc" NUMBER
                )
            </when>
            <when test="type==5">
                CREATE TABLE RDWT" (
                "xh" NUMBER ,
                "rdwt" VARCHAR2(255 BYTE)
                )
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </update>

    <insert id="addZsData">
        begin
        <foreach collection="vos" item="vo" separator=";">
            INSERT INTO "ZS"("zslx","zslb", "bzwtsl", "kzwtsl") VALUES (#{vo.zslx},#{vo.zslb}, #{vo.bzwtsl}, #{vo.kzwtsl})
        </foreach>
        ;end;
    </insert>

    <insert id="addRdData">
        begin
        <foreach collection="vos" item="vo" separator=";">
            INSERT INTO "RD"("xh", "rdwt", "rdwtsl", "zxrc", "zxrcsl") VALUES (#{vo.xh},#{vo.rdwt},#{vo.rdwtsl},
            #{vo.zxrc},#{vo.zxrcsl})
        </foreach>
        ;end;
    </insert>

    <insert id="addFwqkData">
        begin
        <foreach collection="vos" item="vo" separator=";">
            INSERT INTO "FWQK"("ny", "fwrcyy", "fwrcwl", "fwrcwx","dhlyy", "dhlwl", "dhlwx") VALUES (#{vo.ny},
            #{vo.fwrcyy}, #{vo.fwrcwl},#{vo.fwrcwx}, #{vo.dhlyy},#{vo.dhlwl},#{vo.dhlwx})
        </foreach>
        ;end;
    </insert>

    <insert id="addZszlData">
        begin
        <foreach collection="vos" item="vo" separator=";">
            INSERT INTO "ZSZL"("bzwthj","kzwthj", "tyc", "zyc", "kyc", "mgc") VALUES
            (#{vo.bzwthj},#{vo.kzwthj},#{vo.tyc},#{vo.zyc},#{vo.kyc},#{vo.mgc})
        </foreach>
        ;end;
    </insert>

    <insert id="addRdwtData">
        begin
        <foreach collection="vos" item="vo" separator=";">
            INSERT INTO "RDWT"("xh","rdwt") VALUES
            (#{vo.xh},#{vo.rdwt})
        </foreach>
        ;end;
    </insert>

    <select id="fwqd" resultType="java.util.Map">
        SELECT SUM("fwrcyy") "yyd",SUM("fwrcwl") "pcd",SUM("fwrcwx") "ydd" FROM FWQK where "ny" like '%'||TO_CHAR(SYSDATE,'yyyy')||'%'
    </select>

    <select id="fwqs" resultType="java.util.Map">
        SELECT "ny",SUM("fwrcyy"+"fwrcwl"+"fwrcwx") "fwrc",SUM("dhlyy"+"dhlwl"+"dhlwx") "dhzl" FROM FWQK where "ny" like '%'||TO_CHAR(SYSDATE,'yyyy')||'%' GROUP BY "ny" ORDER BY "ny"
    </select>

    <select id="rdwt" resultType="java.util.Map">
        SELECT "rdwt","rdwtsl" FROM RD ORDER BY "rdwtsl" DESC
    </select>

    <select id="zxrc" resultType="java.util.Map">
        SELECT "zxrc","zxrcsl" FROM RD ORDER BY "zxrcsl" DESC
    </select>

    <select id="zslb" resultType="java.util.Map">
        SELECT * FROM (SELECT "zslb",SUM("bzwtsl"+"kzwtsl") "zssl",ROUND(SUM("bzwtsl"+"kzwtsl")/(SELECT SUM("bzwtsl"+"kzwtsl")zl FROM ZS) ,2)*100 "zb" FROM  ZS  GROUP BY "zslb" ORDER BY "zssl" DESC) WHERE ROWNUM &lt; 6
    </select>

    <select id="zszl" resultType="java.util.Map">
        SELECT * FROM ZSZL
    </select>

    <select id="zslx" resultType="java.util.Map">
        SELECT "zslx",SUM("bzwtsl"+"kzwtsl")  "zssl",ROUND(SUM("bzwtsl"+"kzwtsl")/(SELECT SUM("bzwtsl"+"kzwtsl")zl FROM ZS) ,2)*100  "zb" FROM  ZS  GROUP BY "zslx" ORDER BY "zssl" DESC
    </select>

    <select id="hj" resultType="java.util.Map">
        SELECT SUM("fwrcyy"+"fwrcwl") "znfwrc",SUM("dhlyy"+"dhlwl") "dhzl" FROM FWQK where "ny" like '%'||TO_CHAR(SYSDATE,'yyyy')||'%'
    </select>

    <select id="sjptRdwt" resultType="java.util.Map">
        SELECT * from RDWT
    </select>

    <insert id="addFileInfo">
        INSERT INTO "FILE_INFO"("file_name", "type", "size", "create_time", "user_id", "user_name","url") VALUES (#{vo.fileName}, #{vo.type}, #{vo.size}, #{vo.createTime}, #{vo.userId}, #{vo.userName}, #{vo.url})
    </insert>

    <select id="queryFileInfo" resultType="com.hcf.nszh.provider.mz.vo.FileInfoVO">
        select ROWNUM "id", a.* from(select * from FILE_INFO order by "create_time" desc)a
    </select>

    <select id="znkf" resultType="java.util.Map">
        select zszl.*,fwzl.* from
        (SELECT SUM("bzwthj"+"kzwthj") "zszl" FROM ZSZL)zszl,(SELECT SUM("fwrcyy"+"fwrcwl"+"fwrcwx") "hjfwrs",SUM("dhlyy"+"dhlwl"+"dhlwx") "dhzl" FROM FWQK where "ny" like '%'||TO_CHAR(SYSDATE,'yyyy')||'%') fwzl
    </select>

    <select id="fwqdzn" resultType="java.lang.Long">
        SELECT SUM("fwrcyy"+"fwrcwl"+"fwrcwx") znfwrc FROM FWQK where "ny" like '%'||TO_CHAR(SYSDATE,'yyyy')||'%'
    </select>
</mapper>
